[Unit]
Description=Jupyter Notebook Server
After=network.target

[Service]
ExecStart=/usr/local/bin/jupyter-notebook --no-browser --ip='*' --port=8888 --NotebookApp.token='' --NotebookApp.password=''
WorkingDirectory=/home/ubuntu/gooserocket/python/notebooks
User=ubuntu
Group=ubuntu
Restart=always

[Install]
WantedBy=multi-user.target
